.singleBoard {
    glyph-orientation-vertical: auto;
    border: 1px solid #2699fb;
    color: #2699fb;
    border-radius: 5px;
    box-sizing: border-box;
}

p {
    text-align: right;
    padding: 10px 0;
}

.header {
    font-weight: bold;
}

.leftAlign {
    text-align: left;
}