{% block head %}
    <link rel="stylesheet" href="/css/beers.css">
{% endblock %}

{% block content %}
    <div class="container main border border">
        <div class="container upper_text">
            PIWA
        </div>
        <br>
        <div class="row border border">
            <div class="col-md-4 d-flex justify-content-center border border">
                <div class="col-lg-10 singleBoard">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Cras dapibus mi urna, eu molestie lacus mollis et.
                    Duis pretium nec mi at posuere. Morbi aliquam purus sed ipsum semper hendrerit.
                    Fusce vitae mattis diam, sit amet finibus nulla. Mauris a eleifend justo.
                    Aliquam eleifend facilisis mauris, at suscipit felis tincidunt id.
                    Sed sed turpis vestibulum, pretium nisi ac, luctus mauris.
                    Donec congue tellus at consectetur vehicula. Donec congue semper sapien volutpat ornare.
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center singleBoard border border">
                <div class="col-lg-10 singleBoard">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Cras dapibus mi urna, eu molestie lacus mollis et.
                    Duis pretium nec mi at posuere. Morbi aliquam purus sed ipsum semper hendrerit.
                    Fusce vitae mattis diam, sit amet finibus nulla. Mauris a eleifend justo.
                    Aliquam eleifend facilisis mauris, at suscipit felis tincidunt id.
                    Sed sed turpis vestibulum, pretium nisi ac, luctus mauris.
                    Donec congue tellus at consectetur vehicula. Donec congue semper sapien volutpat ornare.
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center singleBoard border border">
                <div class="col-lg-10 singleBoard">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Cras dapibus mi urna, eu molestie lacus mollis et.
                    Duis pretium nec mi at posuere. Morbi aliquam purus sed ipsum semper hendrerit.
                    Fusce vitae mattis diam, sit amet finibus nulla. Mauris a eleifend justo.
                    Aliquam eleifend facilisis mauris, at suscipit felis tincidunt id.
                    Sed sed turpis vestibulum, pretium nisi ac, luctus mauris.
                    Donec congue tellus at consectetur vehicula. Donec congue semper sapien volutpat ornare.
                </div>
            </div>
        </div>
        <br>
        <div class="row border border">
            <div class="col-md-4 d-flex justify-content-center singleBoard border border">
                <div class="col-lg-10 singleBoard">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Cras dapibus mi urna, eu molestie lacus mollis et.
                    Duis pretium nec mi at posuere. Morbi aliquam purus sed ipsum semper hendrerit.
                    Fusce vitae mattis diam, sit amet finibus nulla. Mauris a eleifend justo.
                    Aliquam eleifend facilisis mauris, at suscipit felis tincidunt id.
                    Sed sed turpis vestibulum, pretium nisi ac, luctus mauris.
                    Donec congue tellus at consectetur vehicula. Donec congue semper sapien volutpat ornare.
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center singleBoard border border">
                <div class="col-lg-10 singleBoard">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Cras dapibus mi urna, eu molestie lacus mollis et.
                    Duis pretium nec mi at posuere. Morbi aliquam purus sed ipsum semper hendrerit.
                    Fusce vitae mattis diam, sit amet finibus nulla. Mauris a eleifend justo.
                    Aliquam eleifend facilisis mauris, at suscipit felis tincidunt id.
                    Sed sed turpis vestibulum, pretium nisi ac, luctus mauris.
                    Donec congue tellus at consectetur vehicula. Donec congue semper sapien volutpat ornare.
                </div>
            </div>
        </div>
        <br>
        <img src="/images/vist.png" alt="Vist logo" class="logo">
    </div>
{% endblock %}
