{% block content %}
    <div class="container main">
        <div class="container upper_text">
            ZALOGUJ SIĘ
        </div>
        <br>
        <form action="/" method="post">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-5">
                        <label class="label" for="login"> Login </label> <br>
                        <input placeholder="Login" id="login" type="text" required>
                    </div>
                </div>
                <br>
                <div class="row justify-content-center">
                    <div class="col-5">
                        <label class="label" for="password"> Hasło </label> <br>
                        <input placeholder="Hasło" id="password" type="password" required>
                    </div>
                </div>
                <br>
                <div class="row justify-content-center">
                    <div class="col-5">
                        <button type="submit" value="Submit" class="submit"> ZALOGUJ SIĘ</button>
                    </div>
                </div>
            </div>
        </form>
        <br>
        Nie masz konta? <a href="/?page=register"> Zarejestruj się </a>
        <br>
        <img src="/images/vist.png" alt="Vist logo" class="logo">
    </div>
{% endblock %}